node_modules
dist
.next
.turbo
*.log
.env
.env.local
.DS_Store
coverage
dist/
build/
# Local secrets
ccb.pem
# Alipay mini IDE
apps/mp-student/.mini-ide/
# Taro
apps/mp-student/dist/
# Prisma
apps/api/prisma/dev.db
apps/api/mock-data/
